* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(247, 244, 244);
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif
}

.logo {
    width: 172px;
    height: 80px;
    padding: 10px 10px;
    display: flex;
    justify-self: center;
}

.navbar {
    display: flex;
    background-color: #1f272e;
    justify-content: center;
    color: rgb(225, 236, 247);
    padding: 10px 0px;
}

ul {
    display: flex;
    gap: 30px;
}

li a {
    color: beige;
    text-decoration: none;
}

li:hover {
    transform: scale(1.1);
    background-color: rgb(250, 192, 117);

    transition: all 300ms ease;
    padding: 0 10px;
    border-radius: 5px;
}

a:hover {
    color: black;
    margin-left: 10px;
}

ul li {
    color: rgb(225, 236, 247);
    list-style: none;
    text-decoration: none;
    position: relative;
    /* Para que el submenu se posicione con respecto a su padre */
}

.submenu {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #1f272e;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    width: 220px;
}

.services:hover .submenu {
    display: block;
}

.submenu li {
    padding: 5px 0;
    color: white;
}

@media (max-width: 768px) {
    li {
        font-size: 12px;
    }

    .submenu {
        font-size: 14px;
        display: none;
        position: absolute;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        width: 170px;
    }

    ul {
        display: flex;
        gap: 20px;
        margin-right: 10px;
    }
}

/* Banner */
.banner-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/arraigo7.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 77vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 70;
}

.banner-container>h1 {
    display: flex;
    justify-content: center;
    color: rgb(247, 244, 240);
    font-size: 42px;
    margin-bottom: 17px;
    font-weight: bold;
}

.inf {
    margin-bottom: 17px;
    font-size: 22px;
    color: rgb(247, 244, 240);
    display: flex;
    justify-content: center;
    font-weight: bold;
    line-height: 28px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(250, 192, 117);
    display: flex;
    align-self: center;
}

.btn a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #6a7d91;
    color: white;
}

@media (max-width: 768px) {
    .banner-container>h1 {
        display: flex;
        justify-content: center;
        color: rgb(247, 244, 240);
        margin-bottom: 15px;
        font-weight: bold;
        margin-right: 17px;
    }

    .inf {
        margin-bottom: 17px;
        font-size: 16px;
        color: rgb(247, 244, 240);
        display: flex;
        align-self: center;
        font-weight: bold;
        text-align: justify;
        width: 80%;
    }

    .btn {
        padding: 10px 20px;
        width: 235px;
        display: flex;
        align-self: center;
    }
}

@media (max-width: 468px) {
    .banner-container>h1 {
        font-size: 20px;
    }
}

/* Quienes somos */

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    align-items: center;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.separator {
    height: 2px;
    background-color: rgb(250, 192, 117);
    width: 100%;
    margin-bottom: 20px;

}

.about-content {
    flex: 1;
    text-align: left;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
    color: #555;
    text-align: justify;
}

.contact {
    text-align: left;
    display: flex;
}


#contact-link {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    margin-right: 20px;
    margin-bottom: 10px;

}

#contact-link1 {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    margin-left: 10px;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-content {
        text-align: center;
    }

    .about-image img {
        max-width: 300px;
    }
}

@media (max-width: 468px) {
    .contact {
        display: flex;
        flex-direction: column;
        line-height: 30px;
    }

    .redes-sociales {
        display: flex;
        left: 0px;
    }
}


/* Estilo inmigrante */
.immigration-container {
    background-color: #2f3e4d;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.immigration-container h2 {
    margin-bottom: 10px;
    color: white;
    font-size: 32px;
}

.intro-text {
    margin-bottom: 15px;
    text-align: justify;
    width: 98%;
    line-height: 25px;
}

.additional-title {
    color: white;
    margin-bottom: 30px;
    margin-bottom: 20px;
}

.additional-text {
    text-align: justify;
    line-height: 22.5px;
}

.resume-text {
    width: 82.2em;
    line-height: 22px;
    color: rgb(250, 192, 117);
}

.toggle-btn {
    background-color: #f0ad4e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.toggle-btn:hover {
    background-color: #ec971f;
}

.content-container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.text-content {
    flex: 1;
    max-width: 600px;
    text-align: left;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.immigration-photo {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        text-align: center;
        max-width: 100%;
    }

    .image-content {
        margin-top: 20px;
    }

    .resume-text {
        line-height: 22px;
        color: rgb(250, 192, 117);
        width: 97%;
    }

    .intro-text {
        width: 96%;
        line-height: 25px;
        margin-left: 10px;
    }

    .additional-text {
        text-align: justify;
        line-height: 22.5px;
        width: 96%;
        margin-left: 10px;
    }

    .additional-title {
        font-size: 18px;
    }

    .immigration-container h2 {
        font-size: 28px;
    }

}

/* ¿Que es un arraigo*/
.hold-title {
    display: flex;
    color: black;
    font-size: 32px;
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.left-section {
    flex: 1;
    margin-left: 30px;
}

.roots-title {
    margin-bottom: 20px;
}

.roots-title1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.roots-description {
    text-align: justify;
    width: 93%;
    line-height: 25px;
}


.right-section {
    margin-right: 57px;
}

.main-image {
    width: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.vertical-line {
    width: 2px;
    height: 100%;
    background-color: #000;
    margin: 0 20px;
}

.image-card img {
    width: 275px;
    border-radius: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.image-card p {
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    }

@media (max-width: 768px) {
    .container {
        display: flex;
        margin-top: 40px;
        gap: 20px;
    }
    
    .vertical-line {
        width: 2px;
        height: 100%;
        background-color: #000;
        display: flex;
    }

    .image-card img {
        width: 200px;
        height: 120px;
    }

    .image-card {
        transition: transform 0.5s ease-in-out;
    }

    .left-section {
        flex: 1;
           }

    .right-section {
        margin-right: 40px;
        justify-content: center;
        flex-direction: column;
    }

    .image-card p {
        margin-bottom: 30px;
    }
}

@media (max-width: 468px) {
    .container {
        display: flex;
        gap: 10px;
    }
    .main-image {
        width: 210px;
        display: flex;
        justify-content: center;
    }
    .vertical-line {
       margin: 2px;
    }

    .image-card img {
        width: 120px;
        height: 80px;
    }
    .roots-title {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 27px;
        text-align: justify;
    }
    
    .roots-title1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 27px;
        text-align: justify;
    }
    .roots-description {
        font-size: 14px;
        width: 100%;
    }
    .image-card p {
        font-size: 14px;
    }
    .left-section {
        flex: 1;
        margin-left:7px;
    }
    

}
    
/* Texto animado */
.animated-text-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70px;
    border: transparent;
    background-color: #f0c5c5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.animated-text {
    position: relative;
    display: flex;
    justify-self: center;
    color: black;
    font-size: 22px;
    text-align: center;
    align-items: center;
    animation: scrollText 10s linear infinite;
    font-weight: 400;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .animated-text {
        font-size: 18px;
        line-height: 25px;
        right: 0;
        left: 0;
        align-items: center;
        display: flex;
    }

    .animated-text-container {
        margin-top: 30px;
        text-align: center;
        display: flex;
        align-items: center;
    }
}



/*  Estilos Servicios  */
.content-services {
    background-color: #f9f9f9;
    padding: 20px;
}

.container-services {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
}

.card a:hover {
    text-decoration: underline;
}

/* Hover Effect */
.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    line-height: 24px;
}

.card:hover .description {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 768px) {
    .carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}

/*  Estilos Contactos */
.container-contact {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    background-image: url('imagenes/imgContacto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;

}

.content {
    width: 450px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;

}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.form-subtitle {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-left: 20px;
}

.input-contactForm,
textarea {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
}

textarea {
    resize: none;
    height: 100px;
}

.terms-label {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sendButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .content {
        padding: 10px 0px 10px 0px;
        width: 320px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-subtitle {
        font-size: 16px;
    }

    label {
        font-size: 13px;
    }

    .input-contactForm,
    textarea {
        font-size: 13px;
    }

    .sendButton {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .form-title {
        font-size: 18px;
    }

    .form-subtitle {
        font-size: 14px;
    }

    .sendButton {
        font-size: 12px;
    }

    .container-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Botón circular con imagen */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('imagenes/Photo_Laura14.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

/* Ventana emergente */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    overflow: hidden;
}

/* Encabezado */
.chat-popup header {
    background-color: #0078ff;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.chat-popup .content {
    font-size: 14px;
    color: #333;

}

.chat-popup {
    margin: 10px 0;
    margin-left: 16px;
    margin-right: 12px;
    text-align: left;
    line-height: 20px;
    margin-top: 20px;
}

.welcome-text {
    margin-right: 190px;
    margin-bottom: 20px;
}

/* Input y botón de enviar */
.chat-popup .input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-popup .input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.chat-popup .input-container button {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-popup .input-container button:hover {
    background-color: #005bb5;
}

/* Estilos footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;

}

h4 {
    margin-bottom: 10px;
}

.inf-company {
    line-height: 30px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-section-enlaces,
.footer-section-datacompany,
.footer-section-social {
    flex: 1 1 200px;
    min-width: 150px;
}

.footer-section-copy {
    flex: 1 1 100%;
    text-align: center;
    font-size: 12px;
}

/* Estilo para redes sociales */
.footer-section-social a {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
}

/* Responsivo: pantallas pequeñas */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section-enlaces,
    .footer-section-datacompany,
    .footer-section-social {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .footer-container a {
        font-size: 12px;
    }

    .footer-section-copy {
        font-size: 10px;
    }
}